header{
    margin-top: 180px;
    color:$white;
    font-family: "Inter", sans-serif;
    .header-part1{
        text-align: center;
        margin-bottom: 100px;
    h1{
        text-transform: uppercase;
        font-size: 5.4rem;
        letter-spacing:5px;
        line-height: 150px;
        margin-bottom: 40px;
    }
    p{
        font-family: "Merriweather",Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
        font-style: italic;
        margin-bottom: 100px;
    }
    i{ 
        color:$white;
        font-size: 1.2rem;
        border:2px solid;
        border-radius: 55%;
        padding: 30px;
    }}
    nav{
        backdrop-filter:blur(5px);
        padding:50px 20px ;
        display: flex;
        justify-content: space-around;
        li{
            margin:0 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight:600;
            justify-content: space-around;
        }
        .left-nav{
            li{
            &:hover{
                background: rgb(209, 207, 207);
                padding: 30px 40px;
            }
            }
        }
    }
}
