.principale{
    width: 80%;
    margin: 0 auto;

    &::after{
        content: "";
        width: 108%;
        border: 1px solid $grey;
    }
    .date{
        position: relative;
        padding: 70px 0;               
        p::before{
            content:"";
            width: 40%;
            border: 1px solid $grey;
            top:50%;
            left: 0;
            position: absolute;
            @media screen and (max-width:700px){
                width: 30%;
            }
        }
        p::after{
            content:"";
            width: 40%;
            border: 1px solid $grey;
            top:50%;
            right: 0;
            position: absolute;
            @media screen and (max-width:700px){
                width: 30%;
            }
        }
        
    }
    h2{
       @include title;
       font-size: 3rem;
       @media screen and (max-width:700px){
        font-size: 1.8rem;
        }
    }
    .texte{
        padding: 0 20% 50px;
    }
    p{
        width: 60%;
        margin:30px auto;
        line-height: 35px;
        font-style:italic;
        font-size: 0.8rem;
    }
    img{
        width: 100%;
        padding: auto 50px;
    }
    .btn{
        margin:50px 0 90px;
    }
}