.secondaire{
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid $grey1;

    @media screen and (max-width:700px) {
        grid-template-columns: 1fr;        
    }
    .sedmagna,
    .primis{
        padding: 60px;
    }
    span{
        font-size: 0.8rem;
    }
    h3{
        margin: 20px 0;
        @include title;
        line-height: 28px;
    }
    p{
        text-align: left;
        line-height: 30px;
        margin: 30px 0;
        font-size: 0.8rem;
    }
    .sedmagna{
        border-right: 1px solid $grey1;
    }
}