@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
  margin: 0 260px;
}

li {
  list-style: none;
  display: inline;
}
li:hover {
  color: rgb(34, 34, 34);
}

section {
  background: rgb(248, 248, 248);
}
section h2 {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
section p {
  font-family: "Merryweather";
}

header {
  margin-top: 180px;
  color: rgb(248, 248, 248);
  font-family: "Inter", sans-serif;
}
header .header-part1 {
  text-align: center;
  margin-bottom: 100px;
}
header .header-part1 h1 {
  text-transform: uppercase;
  font-size: 5.4rem;
  letter-spacing: 5px;
  line-height: 150px;
  margin-bottom: 40px;
}
header .header-part1 p {
  font-family: "Merriweather", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 100px;
}
header .header-part1 i {
  color: rgb(248, 248, 248);
  font-size: 1.2rem;
  border: 2px solid;
  border-radius: 55%;
  padding: 30px;
}
header nav {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 50px 20px;
  display: flex;
  justify-content: space-around;
}
header nav li {
  margin: 0 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: space-around;
}
header nav .left-nav li:hover {
  background: rgb(209, 207, 207);
  padding: 30px 40px;
}

.principale {
  padding: 110px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principale::after {
  content: "";
  width: 108%;
  border: 1px solid rgb(216, 214, 214);
}
.principale .date {
  position: relative;
  padding: 0 400px;
  margin-bottom: 50px;
}
.principale .date p::before {
  content: "";
  width: 30%;
  border: 1px solid rgb(216, 214, 214);
  top: 50%;
  left: 10%;
  position: absolute;
}
.principale .date p::after {
  content: "";
  width: 30%;
  border: 1px solid rgb(216, 214, 214);
  top: 50%;
  right: 10%;
  position: absolute;
}
.principale h2 {
  font-size: 3.5rem;
  margin-bottom: 30px;
  line-height: 80px;
}
.principale .texte {
  padding: 0 20% 50px;
}
.principale p {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  line-height: 40px;
}
.principale img {
  width: 100%;
  padding: auto 50px;
}

.secondaire {
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
}
.secondaire .entete {
  text-align: center;
}
.secondaire .entete p {
  margin-bottom: 20px;
}
.secondaire .entete h3 {
  line-height: 30px;
  font-family: "Merryweather", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.secondaire .sedmagna,
.secondaire .primis {
  display: flex;
  flex-direction: column;
  position: relative;
}
.secondaire .primis::after {
  content: "";
  height: 100%;
  top: -40px;
  transform: rotate(180) deg;
  border: 1px solid rgb(216, 214, 214);
  position: absolute;
}
.secondaire .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 70px;
}
.secondaire img {
  width: 100%;
}
.secondaire .texte {
  padding: 0 70px;
  font-size: 1.4rem;
  line-height: 40px;
  margin-bottom: 20px;
}
.secondaire button {
  margin: auto 35%;
}

button {
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 50px 0;
  padding: 15px 40px;
  font-weight: 900;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */